<div class="flex flex-col items-center">
  <div class="inline-block relative p-3 border-4 border-yellow-300 rounded-sm">
    <h1 class="font-bold text-9xl text-yellow-300 MegaMax">Monkey Shakespeare</h1>
  </div>
  <p class="font-bold text-2xl mt-10 text-yellow-300">Monkify your favorite characters quotes and guess them with friends!</p>
  <button class="mt-10 px-12 py-4
               bg-yellow-300 text-black font-bold 
               border-4 border-[rgba(255,255,255,1)] 
               rounded-none 
               shadow-[4px_4px_0px_0px_rgba(100,100,100,1)]
               hover:translate-x-1 hover:translate-y-1 hover:shadow-none 
               transition-transform">Get Started</button>
</div>
